body{
    background-color:black;
}
#name2{
    margin-left: 2.5%;
}
form{
    padding: 40px;
    text-align: center;
}
h1{
    background-color: #eee;
    text-align: center;
    text-decoration: wavy;
}
label{
   color: #eee;
}
h2{
    text-align: center;
    color: #eee;
}
#submit {
    display: flex;
    position: fixed;
    bottom: 5%;
    border-radius: 5px;
    background-color: aqua;
    width: 25%;
    left: 10%;
    
    
}
#cancel {
    display: flex;
    position: fixed;
    bottom: 5%;
    border-radius: 5px;
    background-color: aqua;
    right: 10%;
    width: 25%
    
       
}
#login {
            color:darkcyan;
            text-decoration:none;
}
input {
    height: 2em;
    border-radius: 5px;
}