body{
    background-color: black;
}
#container{
   
}
#heading {
    background-color: #eee;
    height:5%;
    width: 100%;
   
}
#Name {
   
    text-align: center;
}
#main{
    margin: 10% 10% 10% 25%;
    border-radius: 2%;
    background-color: antiquewhite;
    padding: 20px;
    width: 50%;
}

